/* We crop the image like this... */
.transcript-div {
	background-color: gray;
	overflow: hidden;
}

/* And in order to move the map along with the image, we have this div... */
.transcript-map-div {
	overflow: hidden;
	position: relative;
	transform-origin: 0px 0px;/* Required by the zoom transform... */
}

/* We make the transcript fit neatly... */
.transcript-img {
	max-width: 100% !important;
}

/* Thumbnails: */
.thumb-row {
	overflow: hidden;
}
.thumbs {

}
.thumb-current {
    padding: 3%;
    background-color: red;
}
.thumb-img:hover {
    padding: 3%;
    background-color: blue;
}
.thumb-img {
    padding: 3%;
    background-color: white;
}

/* Dialog content: */
.line-list-div {
	overflow: auto;
}
.line-list {
	font-size: 17px;
}
ol {

}
li {
    white-space: nowrap;
}

.fix_scroll_top {
    background: white;
    z-index: 1000;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
}

.option-box {
    display: none;
    z-index: 1999;
    overflow: hidden;
    background: white;
    padding: 1px;
    position: absolute;
    margin: 0;
    border: 1px solid black;
    -webkit-box-shadow: 10px 5px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 5px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 5px 10px 0px rgba(0,0,0,0.75);
}
