{% extends "edit/navi_base.html" %}
{% load i18n %}

{% load staticfiles %}

{% block breadcrumb %}
	<a href="{# {% url 'index' %} #}" class="navbar-brand">{% trans "My Collections" %}</a>
    <a class="navbar-brand" href="{# {% url "library:collection" collId %} #}">/ {{ collName }} <small>{{ collId }}</small></a></li>
    <a class="navbar-brand" href="{% url "edit:correct" collId docId %}"><b>/ {{ title }} <small>{{ docId }}</small></b></a>
{% endblock %}

{% block content %}

<link rel="stylesheet" href="https://swisnl.github.io/jQuery-contextMenu/css/screen.css" type="text/css"/>
<link href="{% static "edit/css/correct.css" %}" rel="stylesheet">
<link href="{% static "edit/css/gijgo.min.css" %}" rel="stylesheet">
<!-- <link rel="stylesheet" href="https://swisnl.github.io/jQuery-contextMenu/css/theme.css" type="text/css"/>-->
<link rel="stylesheet" href="https://swisnl.github.io/jQuery-contextMenu/css/theme-fixes.css" type="text/css"/>
<link href="https://swisnl.github.io/jQuery-contextMenu/dist/jquery.contextMenu.css" rel="stylesheet" type="text/css" />

<script src="{% static "edit/js/correct.js" %}"></script>
<script src="{% static "edit/js/thumbs.js" %}"></script>
<script src="{% static "edit/js/image.js" %}"></script>
<script src="{% static "edit/js/tags.js" %}"></script>
<script src="{% static "edit/js/dialog.js" %}"></script>
<script src="{% static "edit/js/text.js" %}"></script>
<script src="{% static "edit/js/diff.js" %}"></script>
<script src="{% static "edit/js/proofread.js" %}"></script>
<script src="https://swisnl.github.io/jQuery-contextMenu/dist/jquery.contextMenu.js" type="text/javascript"></script>
<!--<script src="https://swisnl.github.io/jQuery-contextMenu/dist/jquery.ui.position.min.js" type="text/javascript"></script>-->
<script src="https://swisnl.github.io/jQuery-contextMenu/js/main.js" type="text/javascript"></script>
<!-- gijgo js can't be included here, it must come after everything else -->
<script>
 var contentArray= [[0, '', [0, 0, 0, 0, 0, 0, 0, 0], 0, ''],
   {% for line in lines %}
   {# ['{{ line|get_item:"@id"}}', '{{line|get_item:"Unicode"|default_if_none:""}}', [{{line|get_item:"crop"|coords_for_imagemap}}], {{line|get_item:"regionWidth"}}, "{{line|get_item:"@custom"}}"] #}
   [
     '{{ line.id }}',
     '{{line.Unicode }}',
     [{{ line.coords_for_imagemap }}],
     {{ line.regionWidth }},
     "{{ line.custom }}"
   ],
   {% endfor %}
 ];

 console.debug('contentArray', contentArray);

	// TODO Clean...
	var thumbArray = {{ thumbArray | safe }}; {# We assume that this is safe because each url is escape()d in the for loop in the view #}
	 {# var regionData = {{ regionData | safe }}; We don't need this yet, after all, but lets leave it here for now.  #}
	var csrf_token = "{{ csrf_token }}";
	var transUnsavedChanges = "{% trans "You have unsaved changes." %}";
	var transSavingChanges = "{% trans "Saving changes..." %}";
    var transErrorSavingChanges = "{% trans "An error occured during saving." %}";
	var dialogBeingResized = false; {# a "semaphore" to avoid false resize events (resizing the dialog triggers such events and we only want those triggered by the window) #}
	var noChangesToSave = "{% trans "No changes to save" %}";
	var canOpenContextMenu = false;
	var ignoreLeave = false;
	var isDragged = false;
	var resizeTimeout;
    var pageStatus = "{{ pageStatus }}";
    var pageStatusNotAllowedTrans = "{% trans "You cannot change the page status." %}";
	var zoomFactor = 1;
	var ifc = "{{ i }}";
	var tagItems = {
		{% for tag in tags %}"{{tag.name}}": {name: "<span href=\"#\" style=\"color: #{{tag.color}};\">{{tag.name}}</span>", type: "checkbox", isHtmlName: true} {% if not forloop.last %}, {% endif %}
		{% endfor %}
    };
	var tagColors = {
		{% for tag in tags %}"{{tag.name}}": "{{tag.color}}" {% if not forloop.last %}, {% endif %}
		{% endfor %}
	};
    var accumExtra = {
        {% for line in lines %}"{{ line.id }}": {"x": 0, "y": 0, "factor": 1}, {% endfor %}
    };
</script>

<div class="top-div col-md-12">
    <div class="row row-centered fix_scroll_top">
        <div class="col-md-12">
            <div class="btn-toolbar btn-toolbar-centered" role="toolbar">
                <div class="btn-group btn-toggle">

                    <a id="toggleInterface_i" class="btn btn-sm btn-primary active disabled" data-target="#toggleInterface">{% trans "Image" %}</a>
                    <a id="toggleInterface_lbl" class="btn btn-sm btn-default disabled" data-target="#toggleInterface">{% trans "Line by line" %}</a>
<!--
                    <a id="toggleInterface_sbs" class="btn btn-sm btn-default disabled" data-target="#toggleInterface">{% trans "Side by side" %}</a>
                    <a id="toggleInterface_t" class="btn btn-sm btn-default disabled" data-target="#toggleInterface">{% trans "Text" %}</a>
-->
                </div>
                <div class="btn-group">
                    <a class="zoom-in btn btn-sm btn-default disabled" href="#" title="{% trans "Zoom In" %}"><span class="glyphicon glyphicon-zoom-in"></span></a>
                    <a class="zoom-out btn btn-sm btn-default disabled" href="#" title="{% trans "Zoom Out" %}"><span class="glyphicon glyphicon-zoom-out"></span></a>
                    <a class="fit-width btn btn-sm btn-default disabled" href="#" title="{% trans "Fit Width" %}"><span class="glyphicon glyphicon-resize-horizontal"></span></a>
                    <a class="fit-height btn btn-sm btn-default disabled" href="#" title="{% trans "Fit Height" %}"><span class="glyphicon glyphicon-resize-vertical"></span></a>
                </div>
                <div class="btn-group">
                    <a class="first-page btn btn-sm btn-default disabled" href="#" title="{% trans "First page" %}"><span class="glyphicon glyphicon-step-backward"></span></a>
                    <a class="previous-page btn btn-sm btn-default disabled" href="#" title="{% trans "Previous page" %}"><span class="glyphicon glyphicon-triangle-left"></span></a>
                    <input type="text" class="btn btn-sm btn-default disabled" id="pageNumber">
                    <a class="next-page btn btn-sm btn-default disabled" href="#" title="{% trans "Next page" %}"><span class="glyphicon glyphicon-triangle-right"></span></a>
                    <a class="last-page btn btn-sm btn-default disabled" href="#" title="{% trans "Last page" %}"><span class="glyphicon glyphicon-step-forward"></span></a>
                    <a class="btn btn-sm btn-default disabled" data-toggle="collapse" href="#thumbDiv" aria-expanded="false" aria-controls="thumbDiv"><span class="glyphicon glyphicon-th-large" title="{% trans "Thumb overview" %}"></span></a>
                </div>
                <div class="btn-group">
                    <a id="editToggle" class="btn btn-sm btn-primary disabled" data-target="#toggleEdit">{% if "view" in request.path %}{% trans "Edit" %}{% else %}{% trans "View" %}{% endif %}</a>
                </div>
                {% if lines %}
                    <div class="btn-group">
                        {% if role == "Editor" or role == "Owner" or role == "Admin" %}
                            <div class="btn-group btn-group-sm editControls" {% if "view" in request.path %}style="display: none;"{% endif %}>
                                <a id="page_status" type="button" class="btn btn-default dropdown-toggle disabled" data-toggle="dropdown">
                                    {% if pageStatus == "NEW" or pageStatus == "IN_PROGRESS" %}
                                        {% trans "Page status: in progress" %}
                                    {% elif pageStatus == "DONE" %}
                                        {% trans "Page status: done" %}
                                    {% elif pageStatus == "FINAL" %}
                                        {% trans "Page status: final" %}
                                    {% elif pageStatus == "GT" %}
                                        {% trans "Page status: ground truth" %}
                                    {% endif %}
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#" name="IN_PROGRESS" data-target="#page_status">{% trans "In Progress" %}</a></li>
                                    <li><a href="#" name="DONE" data-target="#page_status">{% trans "Done" %}</a></li>
                                    <li><a href="#" name="FINAL" data-target="#page_status">{% trans "Final" %}</a></li>
                                </ul>
                            </div>
                        {% else %}
                            <a id="page_status" class="btn btn-sm btn-default disabled editControls" {% if "view" in request.path %}style="display: none;"{% endif %} data-target="#page_status">
                                {% if pageStatus == "NEW" or pageStatus == "IN_PROGRESS" %}
                                    {% trans "Page status: in progress" %}
                                {% elif pageStatus == "DONE" %}
                                    {% trans "Page status: done" %}
                                {% elif pageStatus == "FINAL" %}
                                    {% trans "Page status: final" %}
                                {% elif pageStatus == "GT" %}
                                    {% trans "Page status: ground truth" %}
                                {% endif %}
                            </a>
                        {% endif %}
                        <a href="#" class="btn btn-sm btn-primary editControls disabled" data-target="#saveChanges" {% if "view" in request.path %}style="display: none;"{% endif %}>{% trans "Save changes" %}</a>
                        <span id="message" class="btn btn-sm"></span>
                    </div>
                {% else %}
                    <div class="btn-group">
                        <span class="btn btn-sm btn-default">{% trans "This page lacks segmentation and cannot be edited. Please use TranskribusX to create a segmentation first." %}</span>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
	<div class="collapse" id="thumbDiv" style="background-color: black;">
		<div>
			<table>
				<tr id="thumbTR">
					{# The lovely JavaScript generates a thumbnail bar for navigation and inserts it here. #}
				</tr>
			</table>
		</div>
    </div>
    <div class="row row-centered">
    	<div class="col-lg-6" id="compareText" style="display:none;">
    		{% include "edit/proofread.html" %}
    	</div>
		<div class="transcript-div col-lg-12" style="display:none;">
			<div class="transcript-map-div">
				<map name="transcriptMap" id="transcriptMap">
					{% for line in lines %}
							<area line-key="{{ line.id}}" id="{{ line.id}}"  href="{{ line.id}}"  shape="poly"  style="cursor: default;">
					{% endfor %}
				</map>
				<canvas id="transcriptCanvas" style="position: absolute; z-index: 998; pointer-events: none;"></canvas>
				<img src="{{ imageUrl }}" usemap="#transcriptMap" id="transcriptImage" class="transcript-img" style="z-index: 999;">
			</div>
		</div>
	</div>
	<div>
		<input id="capture" type="text" class="capture">
	</div>
	<div class="interface-lbl" style="padding-left: 15px; display: none;">
        <script type="text/javascript">
            function drawLineImage(lineId, coordinates) {
                var c = document.getElementById("canvas_" + lineId)
                if ( c !== null && c !== undefined ) {
                    var ctx = c.getContext("2d");
                    var image = document.getElementById("transcriptImage");
                    var coords = coordinates.toString().split(',');
                    var width = coords[2] - coords[0];
                    var height = coords[5] - coords[1];
                    c.height = height;
                    c.width = width;
                    ctx.canvas.width = Math.min(window.innerWidth - 70, Math.max(width, 250));
                    $("#line_" + lineId).width(Math.min(window.innerWidth - 70, Math.max(width, 250)));
                    $("#options_" + lineId).width(Math.min(window.innerWidth - 70, Math.max(width, 250)));
                    $("#canvas_wrapper_" + lineId).height(height);
                    $("#canvas_wrapper_" + lineId).width(Math.min(window.innerWidth - 70, Math.max(width, 250)));
                    ctx.drawImage(image, coords[0], coords[1], width, height, 0, 0, Math.min(window.innerWidth - 70, Math.max(width, 250)), height);
                    ctx.save();
                }
            }
        </script>
		{% for line in lines %}
			<div lineId="{{ line.id }}" style="margin-bottom: 10px;">
                <div id="canvas_wrapper_{{ line.id }}" class="line-div" style="border: 1px solid #d3d3d3; width: 800px; height: 100px;">
    				<canvas id="canvas_{{ line.id }}" width="800" height="100">
    					{% trans "Your browser does not support the HTML5 canvas tag." %}
    				</canvas>
                </div>
				<ol id="line_{{ line.id }}" class="line-list" contenteditable="true" style="margin-top: 3px; margin-bottom: 0;">
				</ol>
				<div id="options_{{ line.id }}" class="option-box">
					{% include "edit/option_box.html" %}
				</div>
				<script type="text/javascript">
				    $(function() {
				    	drawLineImage("{{ line.id }}", "{{ line.coords_for_imagemap }}");
				    });
				    $("#line_{{ line.id }}").on("keydown", function(e) {
				    	if ( window.location.href.indexOf('edit') >= 0 )
                            keydown(e);
						else
							e.preventDefault();
					});
					$("#line_{{ line.id }}").on("keyup", function(e) {
						if ( window.location.href.indexOf('edit') >= 0 )
							keyup(e);
						else
							e.preventDefault();
					});
					$("#line_{{ line.id }}").on("mouseup", function(e) {
						if ( window.location.href.indexOf('edit') >= 0 ) {
							if ( currentLineId !== "{{ line.id }}" )
								currentLineId = "{{ line.id }}";
							mouseup(e);
                            updateCanvas();
                            buildLineList();
						}
					});
					$("#line_{{ line.id }}").on("paste", function(e) {
                        e.preventDefault();
						if ( window.location.href.indexOf('edit') >= 0 )
							paste(e);
					});
					$("#line_{{ line.id }}").on("drop", function(e) {
						if ( window.location.href.indexOf('edit') >= 0 )
							drop(e);
						else
							e.preventDefault();
					});
					$("#line_{{ line.id }}").on("cut", function(e) {
						if ( window.location.href.indexOf('edit') >= 0 )
							cut(e);
						else
							e.preventDefault();
					});
                    $("#canvas_{{ line.id }}").draggable({
                        stop: function(e, ui) {
                            {# We prefer to keep it simple and let accumExtra* contain the offsets regardless of how they were created (i.e. also when the user has dragged the image): #}
                            accumExtra["{{ line.id }}"]["x"] -= ui.position.left;
                            accumExtra["{{ line.id }}"]["y"] -= ui.position.top;
                            $("#canvas_{{ line.id }}").css("top", "0px");
                            $("#canvas_{{ line.id }}").css("left", "0px");
                            $("#canvas_{{ line.id }}").css("transform", "translate(" + -accumExtra["{{ line.id }}"]["x"] +"px, " + -accumExtra["{{ line.id }}"]["y"]+ "px) scale(" + accumExtra["{{ line.id }}"]["factor"] + ")");// Note, the CSS is set to "transform-origin: 0px 0px"
                        }
                    });
                    $("#canvas_wrapper_{{ line.id }}").on("mousewheel DOMMouseScroll", function(e) {
                        if ( ctrlKey ) {
                            e.preventDefault();
                            var mouseZoom;
                            if ( e.originalEvent.detail > 0 || e.originalEvent.wheelDelta < 0 )
                                mouseZoom = -20;
                            else
                                mouseZoom = 20;
                            setZoom(mouseZoom, e.originalEvent.pageX - $("#canvas_wrapper_{{ line.id }}").offset().left, e.originalEvent.pageY - $("#canvas_wrapper_{{ line.id }}").offset().top);
                        }
                    });
				</script>
			</div>
		{% empty %}
			<p>{% trans "The page contains no lines." %}</p>
		{% endfor %}
	</div>
    <div class="interface-t" style="padding-left: 15px; padding-right: 15px; display: none;">
        <ol id="text" class="line-list" contenteditable="true" style="margin-top: 3px; margin-bottom: 0;">
        </ol>
        <canvas id="canvas_text" width="800" height="100" style="display: none; z-index: 1998; border: 1px solid #d3d3d3; position: fixed;">
            {% trans "Your browser does not support the HTML5 canvas tag." %}
        </canvas>
        <script type="text/javascript">
            $("#text").on("keydown", function(e) {
                if ( window.location.href.indexOf("edit") >= 0 )
                    keydown(e);
                else
                    e.preventDefault();
                $("#canvas_text").show();
                var c = document.getElementById("#canvas_text");
                /*$("#canvas_text").hide();*/
                /*var c = document.getElementById("#canvas_text");
                    ctx.fillStyle = "rgba(0, 0, 0, 0.15)";
                    ctx.fillRect(0, 0, ctx.canvas.width, ctx.canvas.height);
                    ctx.save();
                }*/
            });
            $("#text").on("keyup", function(e) {
                if ( window.location.href.indexOf("edit") >= 0 )
                    keyup(e);
                else
                    e.preventDefault();
                /*showLineImage(e);*/
            });
            $("#text").on("paste", function(e) {
                if ( window.location.href.indexOf("edit") >= 0 )
                    paste(e);
                else
                    e.preventDefault();
            });
            $("#text").on("drop", function(e) {
                if ( window.location.href.indexOf("edit") >= 0 )
                    drop(e);
                else
                    e.preventDefault();
            });
            $("#text").on("cut", function(e) {
                if ( window.location.href.indexOf("edit") >= 0 )
                    cut(e);
                else
                    e.preventDefault();
            });
            $("#text").on("click", "li", function(e) {
                $("#canvas_text").show();
                var c = document.getElementById("#canvas_text");
                if ( c !== null && c !== undefined ) {
                    ctx.fillStyle = "rgba(0, 0, 0, 0.15)";
                    ctx.fillRect(0, 0, ctx.canvas.width, ctx.canvas.height);
                    ctx.save();
                }
                showLineImage(e);
            });
            $(".interface-t").on("mouseleave", function(e) {
                $("#canvas_text").hide();
            });
            /*$("#text").on("mouseover", "li", function(e) {
                showLineImage(e);
            });*/
            $("#text").on("mouseup", "li", function(e) {
                var lineId = e.currentTarget.id.substring(5);
                /*if ( window.location.href.indexOf("edit") >= 0 ) {
                    if ( currentLineId !== lineId ) {
                        var sel = window.getSelection();
                        sel.removeAllRanges();
                        selectionData = [[lineId, 0, 0]];
                        currentLineId = lineId;
                        updateCanvas();
                        buildLineList();
                    }
                    mouseup(e);
                }*/
                $("#canvas_text").show();
                showLineImage(e);
            });
            $("#canvas_text").on("click", function(e) {
                $("#canvas_text").hide();
            });
        </script>
    </div>
</div>
{% include "edit/correct_modal.html" %}


 <div class="modal fade"  id="document_metadata_modal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4>Document details</h4>
        </div>
        <div class="modal-body">
	<dl>
          {% comment %}
	  {% for item in metadata %}
	  {% if item != 'collectionList' %}
	  <dt>{{item}}</dt>
	  <dd>{{ metadata.item }}</dd>
	  {% endif %}
	  {% endfor %}
          {% endcomment %}
	</dl>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal">

	<ul>
          {% comment %}
          {% for item in metadata %}
	  <li>{{ item }} - {{ metadata.item }}</li>
          {% endfor %}
          {% endcomment %}
	</ul>
</div>


<style type="text/css">{# The above lib sets the padding-bottom to 150, removing this. #}
	html body {
	    padding-bottom: 0;
	}
</style>

<script src="{% static "edit/js/btn-toggle.js" %}"></script>
<script>
	// TODO Clean...

	$("a[data-target='#saveChanges']").click(function(e) {
		saveChanges(e);
        setPageStatus("{{ role }}", "IN_PROGRESS", "{% trans "Page status: in progress" %}")
	});
    $("a[data-target='#page_status']").click(function(e) {
        {# TODO Handle failures here or are we happy with the current solution? #}
        if ( "{{ role }}" === "CrowdTranscriber" || "{{ role }}" === "Transcriber" ) {
            if ( pageStatus === "NEW" || pageStatus === "IN_PROGRESS" )
                $.post(window.location.href, {status: "DONE", csrfmiddlewaretoken: "{{ csrf_token }}"}, function( data ) {
                    setMessage(data, "success");
                    setPageStatus("{{ role }}", "DONE", "{% trans "Page status: done" %}")
                });
            else if ( pageStatus === "DONE" )
                $.post(window.location.href, {status: "IN_PROGRESS", csrfmiddlewaretoken: "{{ csrf_token }}"}, function( data ) {
                    setMessage(data, "success");
                    setPageStatus("{{ role }}", "IN_PROGRESS", "{% trans "Page status: in progress" %}")
                });
            else
                setMessage(pageStatusNotAllowedTrans, "danger", false);
        }
        else if ( "{{ role }}" === "Editor" || "{{ role }}" === "Owner" || "{{ role }}" === "Admin" )
            $.post(window.location.href, {status: e.currentTarget.name, csrfmiddlewaretoken: "{{ csrf_token }}"}, function( data ) {
                setMessage(data, "success");
                if ( e.currentTarget.name === "IN_PROGRESS" )
                    setPageStatus("{{ role }}", "IN_PROGRESS", "{% trans "Page status: in progress" %}")
                else if ( e.currentTarget.name === "DONE" )
                    setPageStatus("{{ role }}", "DONE", "{% trans "Page status: done" %}")
                else if ( e.currentTarget.name === "FINAL" )
                    setPageStatus("{{ role }}", "FINAL", "{% trans "Page status: final" %}")
            });
        else
            setMessage(pageStatusNotAllowedTrans, "danger", false);
	});
	$("a[data-target='#toggleEdit']").click(function(e) {
    	e.preventDefault();

    	if(window.location.href.indexOf("view") != -1) {
    		var newURL = window.location.href.replace('view', 'edit');
    		pathWithoutPage = pathWithoutPage.replace('view', 'edit');
    		var newButtonText = "{% trans 'View' %}";
    		$('[contenteditable="false"]').attr("contenteditable", "true");
            $("#toggleInterface_sbs").addClass("disabled");
            $("#toggleInterface_t").addClass("disabled");
    	}else{
    		var newURL = window.location.href.replace('edit', 'view');
    		pathWithoutPage = pathWithoutPage.replace('edit', 'view');
    		var newButtonText = "{% trans 'Edit' %}";
    		$('[contenteditable="true"]').attr("contenteditable", "false");
            $("#toggleInterface_sbs").removeClass("disabled");
            $("#toggleInterface_t").removeClass("disabled");
    	}

    	window.history.pushState(null, document.title, newURL);
    	if ( correctModal !== undefined && correctModal.isOpen() )
			correctModal.close();

    	$(".editControls").toggle();
    	$("#editToggle").html(newButtonText);
    	$("area").css("cursor", "pointer");
        if ( window.location.href.indexOf("view") === -1 && "i" === ifc )
          {# updateDialog({% if lines %}"{{ lines|index:0|get_item:"@id" }}"{% endif %}); #}
          updateDialog({% if lines %}"{{ first_line.id }}"{% endif %});
        updateCanvas();
        if ( $(".interface-lbl").is(":visible") ) {
            contentArray.forEach(function(obj, i) {
                drawLineImage(obj[0], obj[2]);
                if ( window.location.href.indexOf("view") !== -1 )
                    $("#options_" + obj[0]).hide();
                else if ( window.location.href.indexOf("edit") !== -1 )
                    $("#options_" + obj[0]).show();
                if ( $(".lines-div").is(":visible") ) {
                    currentLineId = obj[0];
                    buildLineList();
                }
            });
        }
        if ( $(".interface-t").is(":visible") ) {
            $("#text").html("");
            buildLineList();
        }
	});
	$("a[data-target='#toggleInterface']").click(function(e) {
    	e.preventDefault();
        if ( e.target.id.substring(16) == ifc )
            return;
        changeInterface(e.target.id.substring(16));
	});
	$('.transcript-map-div').draggable({
		start: function() {
			isDragged = true;
		},
		stop: function() {
			setTimeout(function() { {# A hack to avoid triggering clicks on the map if clicking a region when dragging. #}
				isDragged = false;
			}, 250);
			{# We prefer to keep it simple and let accumExtra* contain the offsets regardless of how they were created (i.e. also when the user has dragged the image): #}
			accumExtraY -= Math.round(parseInt($( ".transcript-map-div" ).css("top"), 10));
			accumExtraX -= Math.round(parseInt($( ".transcript-map-div" ).css("left"), 10));
			$(".transcript-map-div" ).css("top", "0px");
			$(".transcript-map-div" ).css("left", "0px");
			$(".transcript-map-div" ).css("transform", "translate(" + -accumExtraX +"px, " + -accumExtraY+ "px) scale(" + zoomFactor + ")");// Note, the CSS is set to "transform-origin: 0px 0px"
		}
	});
	$( "#transcriptMap area" ).on('click', function(e) {
    	e.preventDefault();
		if (isDragged || window.location.href.indexOf('view') >= 0 || ifc != "i") {# We ignore clicks if the user has been dragging the image, we assume that that's what the user wants. #}
			return;
		//ignoreLeave = true; {# We don't want the original selection "unhighlighted" when the user moves the mouse to the modal. #}
		updateDialog($(this).attr("line-key"));
		updateCanvas();
	});
	$('area').mouseenter(function(e) {
		if (window.location.href.indexOf('view') < 0)
			highlightLine(e.target.id);
	});
	$('area').mouseleave(function(e) {
		updateCanvas();
	});
	$( ".previous-page" ).on('click', function(e) {
		gotoPage(pageNo - 1);
	});
	$( ".next-page" ).on('click', function(e) {
		gotoPage(pageNo * 1 + 1);
	});
	$( ".first-page" ).on('click', function(e) {
		gotoPage(1);
	});
	$( ".last-page" ).on('click', function(e) {
		gotoPage(Number.MAX_SAFE_INTEGER);
	});
	$('#correctModal').on('mouseup', function(e) {
		mouseup(e);
	});
	$("#correctModal").on("paste", function(e) {
		e.preventDefault();
		paste(e);
	});
	$("#correctModal").on("drop", function(e) {
		drop(e);
	});
	$("#correctModal").on("cut", function(e) {
		cut(e);
	});
	$( ".typewriter-previous" ).on('click', function(e) {
		typewriterPrevious();
	});
	$( ".typewriter-next" ).on('click', function(e) {
		typewriterNext();
	});
	$( ".zoom-in" ).on('click', function(e) {
		setZoom(20);
	});
	$( ".zoom-out" ).on('click', function(e) {
		setZoom(-20);
	});
	$( ".fit-width" ).on('click', function(e) {
		fitWidth();
	});
	$( ".fit-height" ).on('click', function(e) {
		fitHeight();
	});
	$( ".add-line" ).on('click', function(e) {
		surroundingCount++;
		buildLineList();
	});
	$( ".enlarge-text" ).on('click', function(e) {
		resizeText(1);
	});
	$( ".shrink-text" ).on('click', function(e) {
		resizeText(-1);
	});
	$(".bold-text").on("click", function(e) {
		toggleTag("bold");
	});
	$(".italic-text").on("click", function(e) {
		toggleTag("italic");
	});
	$(".strikethrough-text").on("click", function(e) {
		toggleTag("strikethrough");
	});
	$(".underline-text").on("click", function(e) {
		toggleTag("underlined");
	});
	$(".subscript-text").on("click", function(e) {
		toggleTag("subscript");
	});
	$(".superscript-text").on("click", function(e) {
		toggleTag("superscript");
	});
	$( ".remove-line" ).on('click', function(e) {
		surroundingCount--; {# TODO A function instead? #}
		if (surroundingCount >= 0)
			buildLineList();
		else
			surroundingCount = 0;
	});
	$( ".thumbs-left" ).on('click', function(e) {
		scrollThumbsLeft();
	});
	$( ".thumbs-right" ).on('click', function(e) {
		scrollThumbsRight();
	});
    $('.transcript-div').on('mousewheel DOMMouseScroll', function(e) {
    	e.preventDefault();
    	var mouseZoom;
    	if (e.originalEvent.detail > 0 || e.originalEvent.wheelDelta < 0)
			mouseZoom = -20;
		else
			mouseZoom = 20;
    	setZoom(mouseZoom, e.originalEvent.pageX - $( ".transcript-map-div" ).offset().left, e.originalEvent.pageY - $( ".transcript-map-div" ).offset().top);
    });
    $(window).resize(function() {
    	if (!dialogBeingResized) { {# If the dialog is being resized, it triggers this event and we must ignore it. #}
	    	clearTimeout(resizeTimeout); {# We don't want to respond until the window has finished resizing. #}
	    	resizeTimeout = setTimeout(function() {
				resizeContents();
	    	}, 480);
	    }
	});
	$("#pageNumber").focus(function() {
   		$(this).select();
	});
	$("#pageNumber").change(function() {
   		checkPageNumberInput();
	});

    function changeInterface(target) {
        var oldLineId = currentLineId;
        currentLineId = null;

        if ( target === "i" ) {
            ifc = "i";
            $("").html(""); {# the dialog height does not get calculated correctly unless we do this! #}
            $(".transcript-div").show();
            $(".interface-lbl").hide();
            $(".interface-sbs").hide();
            $(".interface-t").hide();
            $("#compareText").hide();
            // in case we've been to sbs and shrunk the image:
            $(".transcript-div").removeClass("col-lg-6");
            $(".transcript-div").addClass("col-lg-12");
            $(".transcript-div").height(window.innerHeight - 200);
            resizeContents();
            $(".zoom-in").removeClass("disabled");
            $(".zoom-out").removeClass("disabled");
            $(".fit-width").removeClass("disabled");
            $(".fit-height").removeClass("disabled");
            {% if lines %}
                if ( hasEditPermission("{{ role }}") && "{{ pageStatus }}" !== "GT" ) {
                    $("#editToggle").removeClass("disabled");
                    $("#page_status").removeClass("disabled");
                }else{
                    $("#editToggle").addClass("disabled");
                    $("#page_status").addClass("disabled");
		}
            {% endif %}
        }
        else if ( target === "lbl" ) {
            ifc = "lbl";
            $(".line-list").html("");
            hideDialog();
            $(".transcript-div").hide();
            $(".interface-lbl").show();
            $(".interface-sbs").hide();
            $(".interface-t").hide();
            $("#compareText").hide();
            resizeContents();
            $(".zoom-in").removeClass("disabled");
            $(".zoom-out").removeClass("disabled");
            $(".fit-width").removeClass("disabled");
            $(".fit-height").removeClass("disabled");
            {% if lines %}
                if ( hasEditPermission("{{ role }}") && "{{ pageStatus }}" !== "GT" )  {
                    $("#editToggle").removeClass("disabled");
                    $("#page_status").removeClass("disabled");
                }else{
                    $("#editToggle").addClass("disabled");
                    $("#page_status").addClass("disabled");
		}
            {% endif %}
        }
        else if ( target === "sbs" ) {
            ifc = "sbs";
            $(".line-list").html("");
            hideDialog();
            $(".interface-lbl").hide();
            $(".interface-t").hide();
			// we shrink the image to make space for compareText
            $(".transcript-div").show();
            $(".transcript-div").removeClass("col-lg-12");
            $(".transcript-div").addClass("col-lg-6");
            $("#compareText").show();
            refreshYourVersion();
            $(".transcript-div").height($("#compareText").innerHeight());
            resizeContents();
            $(".zoom-in").removeClass("disabled");
            $(".zoom-out").removeClass("disabled");
            $(".fit-width").removeClass("disabled");
            $(".fit-height").removeClass("disabled");
            $("#editToggle").addClass("disabled");
            $("#page_status").addClass("disabled");
            {% if lines %}
                /*if ( hasEditPermission("{{ role }}") && "{{ pageStatus }}" !== "GT" )  {
                    $("#editToggle").removeClass("disabled");
                    $("#page_status").removeClass("disabled");
                }else{
                    $("#editToggle").addClass("disabled");
                    $("#page_status").addClass("disabled");
		}*/
            {% endif %}
            return;
        }
        else if ( target === "t" ) {
            ifc = "t";
            $(".line-list").html("");
            hideDialog();
            $(".transcript-div").hide();
            $(".interface-lbl").hide();
            $(".interface-sbs").hide();
            $(".interface-t").show();
            $("#compareText").hide();
            resizeContents();
            $(".zoom-in").addClass("disabled");
            $(".zoom-out").addClass("disabled");
            $(".fit-width").addClass("disabled");
            $(".fit-height").addClass("disabled");
            $("#editToggle").addClass("disabled");
            $("#page_status").addClass("disabled");
            {% if lines %}
                /*if ( hasEditPermission("{{ role }}") && "{{ pageStatus }}" !== "GT" )  {
                    $("#editToggle").removeClass("disabled");
                    $("#page_status").removeClass("disabled");
                }else{
                    $("#editToggle").addClass("disabled");
                    $("#page_status").addClass("disabled");
		}*/
            {% endif %}
        }
        else {
            ifc = target;
            $(".transcript-div").hide();
            $(".interface-lbl").hide();
            $(".interface-sbs").hide();
            $(".interface-t").hide();
            $(".zoom-in").addClass("disabled");
            $(".zoom-out").addClass("disabled");
            $(".fit-width").addClass("disabled");
            $(".fit-height").addClass("disabled");
            {% if lines %}
                $("#editToggle").addClass("disabled");
                $("#page_status").addClass("disabled");
            {% endif %}
        }

        if ( window.location.href.indexOf("view") === -1 ) {
            $("#toggleInterface_sbs").addClass("disabled");
            $("#toggleInterface_t").addClass("disabled");
        }

        if ( correctModal !== undefined && correctModal.isOpen() )
            hideModal();

        fitWidth();
        contentArray.forEach(function(obj, i) {
            drawLineImage(obj[0], obj[2]);
            if ( $(".transcript-div").is(":visible") ) {
                $("line_" + obj[0]).html("");
            }
            if ( $(".interface-lbl").is(":visible") ) {
                currentLineId = obj[0];
                buildLineList();
                if ( window.location.href.indexOf("view") !== -1 )
                    $("#options_" + obj[0]).hide();
                else if ( window.location.href.indexOf("edit") !== -1 )
                    $("#options_" + obj[0]).show();
            }
            if ( $(".interface-t").is(":visible") ) {
                $("line_" + obj[0]).html("");
            }
        });
        currentLineId = oldLineId;
        if ( window.location.href.indexOf("view") === -1 && "i" === ifc )
            updateDialog(currentLineId);
        updateCanvas();
        buildLineList();
        {# TODO Handle failures here or are we happy with the current solution? #}
    }
	$(function() { {# TODO Solution for people using broken computers that don't have more than one mouse button. Issues: z-index (or overflow?) and selections getting deselected... #}
        $.contextMenu({
            selector: '.tag-menu',
            zIndex: 2000,
            build: function($trigger, e) {
            	if (canOpenContextMenu) {
	            	updateSelectionData(); {# TODO What do we do in this case if we also want to have the feature below? #}
	            	restoreSelection(); {# TODO Request feedback. This solution has the advantage of allowing a selection to be made and the menu opened elsewhere in order not to cover the relevant text. #}
					return tagMenu();
				} else
					return null;
        	},
       	    events: {
				hide : function(){
					selectionData = ""; // the old selection must be forgotten to avoid strange behaviour
				}
	       },
		});
    });
	$(".line-list").bind('contextmenu', function(e) {	// if we get a right click within the line list, we have to place the caret where the click was unless we already have a non-zero length selection
		canOpenContextMenu = contextMenuOpenable(e);
	});
    $(document.body).on("click", ".context-menu-input", function(e) { // TODO Place this somewhere else....
    	if (e.target.nodeName != "INPUT") // multiple clicks can be triggered, some of which are label or span...
    		return;
		toggleTag($(e.target).prop("name").substr(19)); // "context-menu-input-".length is 19
	});
	$(window).on("load", function() {
		initialWidth = $('#transcriptImage').width() ? $('#transcriptImage').width() : window.innerWidth;
		initialHeight = $('#transcriptImage').height();
		naturalWidth = $('#transcriptImage').get(0).naturalWidth;
        $("#canvas_text").width(window.innerWidth - 50);
		initialScale = initialWidth / naturalWidth;
		pathWithoutPage = "{% url 'edit:correct' collId docId %}/";
		pageNo = {{pageNo}};
		var search = window.location.search + 'tco=0';// just to avoid NaN below
		thumbCountOffset = parseInt(search.substring(search.indexOf('tco=') + 4)); // "tco=".length = 4

		// If the current page isn't among the thumbs first shown, we change the offset to make it so
		thumbCountOffset = Math.max(thumbCountOffset, -pageNo + 1);
		thumbCountOffset = Math.min(thumbCountOffset, -pageNo + THUMBS_TO_SHOW);

		// Show the current page number
		checkPageNumberInput();

		updateCanvas();
		calculateAreas();
		loadThumbs();

		// Getting this from the CSS file for now, set a variable instead?
		contentLineFontSize = parseInt($('.line-list').css("font-size"), 10);

		correctModal = $("#correctModal").dialog({
			autoOpen: false,
		    uiLibrary: 'bootstrap',
            resizable: true,
		    closed: function(e) {
		        currentLineId = null;
				updateCanvas();
				ignoreLeave = false;
		    },
    		resizeStart: function (e) {
    			dialogBeingResized = true;
    			updateDockingStatus(false);
    		},
    		dragStart: function (e) {
    			updateDockingStatus(false);
    		},
    		dragStop: function(e) {
				dialogX = parseInt($("#correctModal").css("left"));
				dialogY = parseInt($("#correctModal").css("top"));
    		},
    		resizeStop: function (e) {
    			dialogWidth = parseInt(this.style.width, 10); // saving this... TODO Ask if this is to be saved? User opinions vary...!?
    			dialogHeight = parseInt(this.style.height, 10);
    			dialogBeingResized = false;
				$("#lineList").css("min-height", (dialogHeight - dialogAbsoluteMinHeight) + "px"); // TODO Put this and the actions above in a separate function...?
    		}
        });

        $("#toggleInterface_i").removeClass("disabled");
        $("#toggleInterface_lbl").removeClass("disabled");
        $("#toggleInterface_sbs").removeClass("disabled");
        $("#toggleInterface_t").removeClass("disabled");
        $(".zoom-in").removeClass("disabled");
        $(".zoom-out").removeClass("disabled");
        $(".fit-width").removeClass("disabled");
        $(".fit-height").removeClass("disabled");
        $(".first-page").removeClass("disabled");
        $(".previous-page").removeClass("disabled");
        $("#pageNumber").removeClass("disabled");
        $(".next-page").removeClass("disabled");
        $(".last-page").removeClass("disabled");
        $("a[aria-controls='thumbDiv']").removeClass("disabled");
        {% if lines %}
            if ( hasEditPermission("{{ role }}") || "{{ pageStatus }}" !== "GT" )  {
                $("#editToggle").removeClass("disabled");
                $("#page_status").removeClass("disabled");
            }
        {% endif %}
         refreshOriginalVersion();
        $("#toggleInterface_" + ifc).click();// Change buttons
        changeInterface(ifc);
    });
	var fixmeTop = $(".fix_scroll_top").offset().top;
	$(window).scroll(function() {
		var currentScroll = $(window).scrollTop();
	    if (currentScroll >= fixmeTop) {
	        $(".fix_scroll_top").css({
	            position: "fixed",
	            top: "0",
	            left: "0"
	        });
	    } else {
	        $(".fix_scroll_top").css({
	            position: "static"
	        });
	    }
	});
	$(window).bind('beforeunload', function(){
		if (changed)
			return '{% trans "You have unsaved changes. Are you sure you want to leave?" %}'; // custom messages aren't supported by all browsers now, this is for those that do show them
	});
    $(window).bind("keydown", function(e) {
        if ( e.ctrlKey || e.metaKey ) {
            if ( String.fromCharCode(e.which).toLowerCase() === "s" ) {
                e.preventDefault();
                saveChanges(e);
                setPageStatus("{{ role }}", "IN_PROGRESS", "{% trans "Page status: in progress" %}")
            }
            else if ( e.charCode === 0 )
                ctrlKey = true;
        }
    });
    $(window).bind("keyup", function(e) {
        if ( e.which == 17 || e.which == 112 || e.which == 111 )
            ctrlKey = false;
    });
</script>

<script src="{% static "edit/js/gijgo.min.js" %}"></script>

{% endblock %}
