{% extends "navi_base.html" %}
{% load i18n %}

{% load staticfiles %}

{% block breadcrumb %}
	<a href="{% url 'index' %}" class="navbar-brand">{% trans "My Collections" %}</a>
    <a class="navbar-brand" href="{% url "library:collection" collId %}">/ {{ collName }} <small>{{ collId }}</small></a></li>
    <a class="navbar-brand" href="{% url "edit:correct" collId docId %}"><b>/ {{ metadata.title }} <small>{{ docId }}</small></b></a>
{% endblock %}

{% block content %}

<div class="top-div col-md-12">

    {%comment%}
     ################
       Page controls
    #################
    {%endcomment%}
    <div class="row row-centered fix_scroll_top">
    		{% include "edit/control.html" %}
    </div>

    {%comment%}
    ###################################
      This div contains the large image 
      display for image and sidebyside 
      interfaces 
    #####################################
    {%endcomment%}
    <div class="row row-centered">
			{%comment%}
			 ########################
				  Side by side interface 
				# NB required for image view too?!?
			###########################
			{%endcomment%}
			<div class="col-lg-6" id="compareText" style="display:none;">
					{% include "edit/side-by-side.html" %}
			</div>
				{%comment%}
			 ###############################################
			 The full image canvas, map for lines and img 
			#################################################
			{%endcomment%}
			<div class="transcript-div col-lg-12" style="display:none;">
				<div class="transcript-map-div">
					<map name="transcriptMap" id="transcriptMap">
						{% for line in lines %}
							<area line-key="{{line|get_item:"@id"}}" id="{{line|get_item:"@id"}}"  href="{{line|get_item:"@id"}}"  shape="poly"  style="cursor: default;">
						{% endfor %}
					</map>
					<canvas id="transcriptCanvas" style="position: absolute; z-index: 998; pointer-events: none;">
						{% trans "Your browser does not support the HTML5 canvas tag." %}
					</canvas>
					<img src="{{ imageUrl }}" usemap="#transcriptMap" id="transcriptImage" class="transcript-img" style="z-index: 999;"/>
				</div>
			</div>
			<div>
				<input id="capture" type="text" class="capture">
			</div>
    </div>

    {%comment%}
    ######################
     Line by line interface 
    #########################
    {%endcomment%}
    <div class="interface-lbl" style="padding-left: 15px; display: none;">
	{% for line in lines %}
	    <div lineId="{{ line|get_item:"@id" }}" style="margin-bottom: 10px;">
		<div id="canvas_wrapper_{{ line|get_item:"@id" }}" class="line-div" style="border: 1px solid #d3d3d3; width: 800px; height: 100px;" data-line-id="{{ line|get_item:"@id" }}">
		    <canvas id="canvas_{{ line|get_item:"@id" }}" width="800" height="100" data-line-id="{{ line|get_item:"@id" }}">
			{% trans "Your browser does not support the HTML5 canvas tag." %}
		    </canvas>
		</div>
		<ol id="line_{{ line|get_item:"@id" }}" class="line-list" contenteditable="false" style="margin-top: 3px; margin-bottom: 0;" data-line-id="{{ line|get_item:"@id" }}"></ol>
		<div id="options_{{ line|get_item:"@id" }}" class="option-box">
			{% include "edit/option_box.html" %}
		</div>
		<script type="text/javascript">
/*
	//removed as only used by lbl
		    $(function() {
			drawLineImage("{{ line|get_item:"@id" }}", "{{ line|get_item:"crop"|coords_for_imagemap }}");
		    });
*/
		</script>
	    </div>
	{% empty %}
		<p>{% trans "The page contains no lines." %}</p>
	{% endfor %}
    </div>
    {%comment%}
    ###################### 
    Text only interface 
    ########################
    {%endcomment%}
{%comment%}
    <div class="interface-t" style="padding-left: 15px; padding-right: 15px; display: none;">
        <ol id="text" class="line-list" contenteditable="false" style="margin-top: 3px; margin-bottom: 0;">
        </ol>
        <canvas id="canvas_text" width="800" height="100" style="display: none; z-index: 1998; border: 1px solid #d3d3d3; position: fixed;">
            {% trans "Your browser does not support the HTML5 canvas tag." %}
        </canvas>
    </div>
{%endcomment%}
</div>

{% include "edit/correct_modal.html" %}

{# Is this modal used? #}

 <div class="modal fade"  id="document_metadata_modal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4>Document details</h4>
        </div>
        <div class="modal-body">
	<dl>
	     {% for item in metadata %}
		{% if item != 'collectionList' %}
		<dt>{{item}}</dt>
		<dd>{{ metadata|get_item:item }}</dd>
		{% endif %}
	     {% endfor %}
	</dl>
        </div>
      </div>
    </div>
  </div>
</div>


{# Is this modal used? #}

<div class="modal">

	<ul>
     {% for item in metadata %}
	<li>{{ item }} - {{ metadata|get_item:item }}</li>
     {% endfor %}
	</ul>
</div>


<style type="text/css">{# The above lib sets the padding-bottom to 150, removing this. #}
	html body {
	    padding-bottom: 0;
	}
</style>

<script>
	///////////////////////////////////////	
	// Make the transcript-div draggable
	///////////////////////////////////////

	// So far this is the only I've foudn that needs to be called in abody embedded script tag
	// TBH I'm not sure why it does...
	Edit.setImageDraggable();

</script>

<script src="{% static "js/gijgo.min.js" %}" type="text/javascript"></script>

{% endblock %}
