{% load i18n %}

{% load staticfiles %}


<link rel="stylesheet" href="https://swisnl.github.io/jQuery-contextMenu/css/screen.css" type="text/css"/>
<link href="{% static "css/correct.css" %}" rel="stylesheet">
<link href="{% static "css/gijgo.min.css" %}" rel="stylesheet">
<!-- <link rel="stylesheet" href="https://swisnl.github.io/jQuery-contextMenu/css/theme.css" type="text/css"/>-->
<link rel="stylesheet" href="https://swisnl.github.io/jQuery-contextMenu/css/theme-fixes.css" type="text/css"/>
<link href="https://swisnl.github.io/jQuery-contextMenu/dist/jquery.contextMenu.css" rel="stylesheet" type="text/css" />

<script src="{% static "js/line-by-line.js" %}"></script>

<script src="{% static "js/side-by-side.js" %}"></script>

<script src="{% static "js/correct.js" %}"></script>
<script src="{% static "js/thumbs.js" %}"></script>
<script src="{% static "js/image.js" %}"></script>
<script src="{% static "js/tags.js" %}"></script>
<script src="{% static "js/dialog.js" %}"></script>
<script src="{% static "js/text.js" %}"></script>
<script src="{% static "js/diff.js" %}"></script>
<script src="https://swisnl.github.io/jQuery-contextMenu/dist/jquery.contextMenu.js" type="text/javascript"></script>
<!--<script src="https://swisnl.github.io/jQuery-contextMenu/dist/jquery.ui.position.min.js" type="text/javascript"></script>-->
<script src="https://swisnl.github.io/jQuery-contextMenu/js/main.js" type="text/javascript"></script>

<script>
	var dialogBeingResized = false; {# a "semaphore" to avoid false resize events (resizing the dialog triggers such events and we only want those triggered by the window) #}
	var canOpenContextMenu = false;
	var ignoreLeave = false;
	var isDragged = false;
	var resizeTimeout;

	var zoomFactor = 1;
/*
	var tags = [
    		{"name": "abbrev", "color": "FF0000"},
    		{"name": "date", "color": "0000FF"},
    		{"name": "gap", "color": "1CE6FF"},
    		{"name": "person", "color": "00FF00"},
    		{"name": "place", "color": "8A2BE2"},
    		{"name": "unclear", "color": "FFCC66"},
    		{"name": "organization", "color": "FF00FF"}
	]
*/
	// we can make classes with the tag name and keep those in the css
	var tags = [ "abbrev","date","gap","person","place","unclear","organization"]



</script>


