{% load i18n %}

<div class="row tool-row">
    <div class="col-xs-12">
        <span class="editbutton-group">
            <div class="btn-group">
                <button type="button" class="typewriter-previous btn btn-default btn-sm" title="{% trans "Previous line" %}">
                    <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                </button>
                <button type="button" class="typewriter-next btn btn-default btn-sm" title="{% trans "Next line" %}">
                    <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                </button>
            </div>
        </span>
        <span class="editbutton-group">
            <div class="btn-group">
                <button type="button" class="enlarge-text btn btn-default btn-sm" title="{% trans "Enlarge text" %}">
                    <span class="glyphicon glyphicon-font" aria-hidden="true" id="spy"></span>
                </button>
                <button type="button" class="shrink-text btn btn-default btn-sm" title="{% trans "Shrink text" %}">
                    <span class="glyphicon glyphicon-font" aria-hidden="true" style="font-size: xx-small; width: 12px;"></span>
                </button>
            </div>
        </span>
        <span class="editbutton-group">
            <div class="btn-group">
                <button type="button" class="bold-text btn btn-default btn-sm" title="{% trans "Bold" %}">
                    <span class="glyphicon glyphicon-bold" aria-hidden="true"></span>
                </button>
                <button type="button" class="italic-text btn btn-default btn-sm" title="{% trans "Italic" %}">
                    <span class="glyphicon glyphicon-italic" aria-hidden="true"></span>
                </button>
                <button type="button" class="subscript-text btn btn-default btn-sm" title="{% trans "Subscript" %}">
                    <span class="glyphicon glyphicon-subscript" aria-hidden="true"></span>
                </button>
                <button type="button" class="superscript-text btn btn-default btn-sm" title="{% trans "Superscript" %}">
                    <span class="glyphicon glyphicon-superscript" aria-hidden="true"></span>
                </button>
                <button type="button" class="underline-text btn btn-default btn-sm" title="{% trans "Underline" %}">
                    <span aria-hidden="true" style="text-decoration: underline; font-weight: bold;">U</span>
                </button>
                <button type="button" class="strikethrough-text btn btn-default btn-sm" title="{% trans "Strikethrough" %}">
                    <span aria-hidden="true" style="text-decoration: line-through; font-weight: bold;">S</span>
                </button>
            </div>
        </span>
    </div>
</div>
